<div class="container">
    <footer>
        <p>Copyright © 2022 ChienChuot</p>


        <div class="icons">
            
            <button type="button" class="btn btn-link btn-floating mx-1">
            <a href=""><i class="fa fa-facebook-square" style="font-size:36px;color:rgb(2, 120, 255)"></i></a>

           
          </button>
      
          <button type="button" class="btn btn-link btn-floating mx-1">
            <a href=""> <i class="fa fa-google" style="font-size:36px;color:red"></i></a>
      
          </button>
      
          <button type="button" class="btn btn-link btn-floating mx-1">
            <a href=""><i class="fa fa-github" style="font-size:36px;color:rgb(10, 10, 10)"></i></a>
           
          </button>

         </div>
    </footer>

</div>




