
<!DOCTYPE html>
<html lang="en">
    <% include partials/head%>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<body>
    <% include partials/header%>
    <div class="container">
      <div class="row display-4 text-center rounded " style="background-color:orange;" >
        <div class="col" >iPhone</div>
        <div class="col">iPad</div>
        <div class="col">iMac</div>
        <div class="col">Macbook</div>
        <div class="col">AppleWatch</div>
      </div>
    </div>



    


    
    <% include partials/footer%>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="http://getbootstrap.com/dist/js/bootstrap.min.js"></script>
</body>
</html>
